.ant-layout {
  height: 100vh;
}
.ant-layout-content {
  padding: 20px 50px;
}
.ant-layout-footer {
  text-align: center;
}

.action-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.action-controls button {
  margin-left: 15px;
}

.field-input {
  margin-bottom: 10px;
}
